<!DOCTYPE html>
<html lang="pt-BR">
<body style="position: relative; min-height: 20vh; margin: 0; padding-bottom: 50px;">

  <!-- Conteúdo do site aqui -->

  <footer style="background-color: #ffffff; padding: 10px; position: absolute; bottom: 0; width: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p style="margin-bottom: 0; color: #000000;"><strong>&copy; FITME 2023.  Todos os  direitos  reservados.</strong></p>
          <p style="margin-bottom: 0; color: #000000;">Endereço:  Rua dos Brizz,  123 - São Paulo,  SP Telefone: (11 ) 1234-5678 E-mail: contato@fitme.com.br</p>
          <p style="margin-bottom: 0; color: #000000;">Siga-nos nas redes sociais: Facebook | Instagram | Twitter</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Adicione os links para os arquivos Bootstrap JS aqui -->
</body>
</html>