<p-galleria [value]="images" [responsiveOptions]="responsiveOptions"  [numVisible]="5" [circular]="true" [autoPlay]="true" [transitionInterval]="4000"
 [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true" [showItemNavigatorsOnHover]="true"
  [showIndicatorsOnItem]="true" > 
    <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </div>
    </ng-template>
</p-galleria>