<app-header></app-header>
<!DOCTYPE html>
<html lang="pt-br">
    <meta charset="UTF-8">
    <title>Nossa História - FitMe</title>
<body>
    <div class="container">
        <h1>Nossa História: Empoderando Através da Moda Acessível</h1>
        <p>Tudo começou com um sonho compartilhado por um grupo de amigos apaixonados por moda e determinados a fazer a diferença. Em uma tarde inspiradora, enquanto discutiam ideias que pudessem causar um impacto positivo, a semente da FitMe foi plantada.</p>
        <p>Um dos fundadores teve um encontro que mudou sua perspectiva para sempre. Ao conversar com uma pessoa com deficiencia na perna, percebeu as dificuldades enfrentadas ao procurar roupas que fossem confortáveis, estilosas e projetadas especificamente para atender às suas necessidades. Da mesma forma, eles observaram como aqueles com diferentes tipos de corpos muitas vezes lutavam para encontrar roupas que refletissem sua personalidade e estilo.</p>
        <p>Movidos pela empatia e uma paixão pela inclusão, nossos fundadores decidiram transformar essa lacuna em uma oportunidade. Nasceu a FitMe, com um compromisso inabalável de tornar a moda verdadeiramente acessível a todos, independentemente do tamanho, estatura ou habilidades.</p>
        <div id="box">
            <div class="card-group">
                <div class="card">
                    <img src= "../../assets/userr.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Ali Andrea, 18 anos.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/userr.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Fernanda Gutierrez, 18 anos.</p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/userr.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Raissa Monteiro, 18 anos. </p>
                    </div>
                </div>
                <div class="card">
                    <img src="../../assets/userr.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">Yasmin Lima, 18 anos.</p>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</body>
</html>
